<div class="container">
  <div class="content">
    <mat-grid-list cols="6" rowHeight="fit">
      <mat-grid-tile rowspan="2" colspan="3">
        <div class="userBlock">
          <div class="header">Администратор</div>
          <div class="userBlockContent">
            
            ФИО: <b>Иванов Иван Иванович</b> <br />
            ЛОГИН: <b>solniwko_ivan</b><br />
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2" colspan="3">
        <mat-divider vertical> </mat-divider>
        <div class="userBlock">
          <div class="userBlockContent topology">
            <button mat-raised-button color="accent" routerLink="/designer">
              Создать топологию
            </button>
            <button mat-raised-button color="accent">
              Редактировать топологию
            </button>
          </div>
        </div>
      </mat-grid-tile>

      <mat-grid-tile rowspan="6" colspan="6">
        <div class="userBlock">
        <mat-tab-group mat-align-tabs="center">
          <mat-tab label="Шаблоны">
            <app-designer-templates></app-designer-templates>
          </mat-tab>
          <mat-tab label="Аккаунты"></mat-tab>
        </mat-tab-group>
        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</div>
