<div #board class="board">
  <mat-grid-list
    #grid
    [cols]="simulationMap.cols"
    gutterSize="0"
    [style.width]="simulationMap.cols * boardView.cellSize + 'px'"
    [style.height]="simulationMap.rows * boardView.cellSize + 'px'"
    [style.margin-top]="marginTop + 'px'"
    [style.margin-left]="marginLeft + 'px'"
    cdkScrollable
  >
    <mat-grid-tile *ngFor="let cell of cells; let i = index" cdkScrollable>
      <div
        class="cell"
        [class.roadCell]="isRoad(cell)"
        cdkScrollable
        [style]="
          'transform: rotate(' + (isRoad(cell) ? cell.angle : 0) + 'deg);'
        "
      >
        <img
          *ngIf="cell.template.src"
          [src]="cell.template.src"
          [style]="
            'width: ' +
            cell.template.cols * boardView.cellSize +
            'px; height: ' +
            cell.template.rows * boardView.cellSize +
            'px;' +
            'transform: rotate(' +
            cell.angle +
            'deg);'
          "
        />
      </div>
    </mat-grid-tile>
    <img
    *ngFor="let car of cars"
    class="car"
    [src]="car.template.src"
    [style]="
      'top: ' +
      car.y +
      'px; left: ' +
      car.x +
      'px; width: ' +
      boardView.cellSize +
      'px; height: ' +
      boardView.cellSize +
      'px; transform: rotate(' +
      car.angle +
      'deg);'
    "
  />
  </mat-grid-list>

</div>
