@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');


.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px - 72px);
    width: 350px;
}
.content{
    width: 100%;
    background-color:  mat.get-color-from-palette($primary-palette,lighter);
    border-radius: 10px;
}

.sliderBox{
    box-sizing: border-box;
    min-width: 100%;
    padding: 15px;
}
label{
    margin-right: 8px;
    margin-left: 8px;
}
.sliderBoxLabel{
    font-weight: 600;
}

.sliderBoxLabelValue{
    float: right;
}

mat-slider{
    width: 100%;
    margin-top: 14px;
}
.clearfix {
    overflow: auto;
}