<div class="container">
  <div class="content">
    <div class="sliderBox">
      <label class="sliderBoxLabel">Кол-во строк</label>
      <label class="sliderBoxLabelValue">25</label>
      <mat-slider thumbLabel> </mat-slider>
    </div>
    <mat-divider></mat-divider>
    <div class="sliderBox">
      <label class="sliderBoxLabel">Кол-во стобцов</label>
      <label class="sliderBoxLabelValue">32</label>
      <mat-slider thumbLabel> </mat-slider>
    </div>
    <mat-divider></mat-divider>
  </div>
</div>
