.container {
  height: calc(100vh - 66px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.content {
  border-radius: 5px;
  height: calc(480px - 66px);
  width: 640px;
  background: rgb(238, 174, 202);
  background: linear-gradient(
    19deg,
    rgba(238, 174, 202, 1) 25%,
    rgba(148, 187, 233, 1) 100%
  );
}

mat-grid-list {
  height: 100%;
}

.userBlock {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.userBlock > .header {
  text-align: center;
  font-size: 2em;
  padding: 5px;
  font-weight: 300;
}

.userBlock .userBlockContent {
  inset-inline: 20px;
  vertical-align: middle;
  padding: 10px;
  font-weight: 100;
  font-size: 1em;

  b {
    font-weight: 500;
  }
}
.userBlock > mat-divider {
  margin: 0px 10px 0px 10px;
}

.userBlock > .topology {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button {
    width: 200px;
    margin: 5px;
  }
}

mat-divider[vertical] {
  margin-top: 5%;
  height: 100%;
}

// ACCOUNTS
.accountsBlock {
  flex-basis: 95%;
  height: 95%;

  background: #ffffff73;
  backdrop-filter: blur(10px);
  border-radius: 3px;

  > .accountsBlockHeader {
    width: 100%;
    height: 40px;
    background: rgba(255, 255, 255, 0.37);

    display: flex;
    flex-direction: row;
    align-items: center;

    > .accountsBlockHeaderIcon {
      $size: 35px;
      height: $size;
      width: $size;
      font-size: $size;
      margin-left: 10px;
      color: rgba(0, 0, 0, 0.761) !important;
    }

    > .accountsBlockHeaderHeader {
      height: fit-content;
      flex: 1 1 auto;
      // text-align: center;
      font-weight: 300;
      font-size: 16pt;
      margin-left: 10px;

    }

    > .accountsBlockHeaderButton {

      height: 100%;
      margin-right: 10px;


      mat-icon{
        $size: 30px;
        height: $size !important;
        width: $size !important;
        font-size: $size !important;
        line-height: $size !important;
        font-weight: 500;

      }
    }
  }
  > .accountsBlockItems {
    max-height: calc(100% - 40px);
    overflow: auto;
    padding: 0;

    > .accountsBlockItem {
      color: rgba(0, 0, 0, 0.566);

      ::ng-deep .mat-list-item-content {
        justify-content: space-between;
      }

    }
  }
}

.example-spacer {
  flex: 1 1 auto;
}

