<div class="content">
  <form [formGroup]="form">
    <!-- ВХОД -->
      <header>ВХОД</header>
      <mat-divider>
      </mat-divider>
      <mat-form-field appearance="outline">
        <mat-label>Логин</mat-label>
        <input
          matInput
          [formControlName]="'login'"
          placeholder="Введите ваш логин" />
        <button mat-icon-button matPrefix disabled>
          <mat-icon>person</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          [formControlName]="'password'"
          [type]="hide ? 'password' : 'text'"
          placeholder="Введите ваш пароль"
        />
        <button
          mat-icon-button
          matPrefix

          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "vpn_key_off" : "vpn_key" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-checkbox style="visibility: hidden">Запомнить?</mat-checkbox>
      <button mat-button (click)="(onLoginClicked())">Войти</button>
      <div class="clearfix"></div>

    <!-- РЕГИСТРАЦИЯ -->
    <!-- <mat-tab label="РЕГИСТРАЦИЯ">
      <mat-form-field appearance="outline">
        <mat-label>Логин</mat-label>
        <input matInput placeholder="Введите ваш логин" />
        <button mat-icon-button matPrefix disabled>
          <mat-icon>person</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Пароль</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Введите ваш пароль"
        />
        <button
          mat-icon-button
          matPrefix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "vpn_key_off" : "vpn_key" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Повторите пароль</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          placeholder="Введите ваш пароль"
        />
        <button
          mat-icon-button
          matPrefix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "vpn_key_off" : "vpn_key" }}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <button mat-icon-button matPrefix disabled>
          <mat-icon>settings_accessibility</mat-icon>
        </button>
        <mat-label>Роль</mat-label>
        <mat-select>
          <mat-option value="one">Администратор</mat-option>
          <mat-option value="two">Пользователь</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-button (click)="(onClicked)">Зарегистрироваться</button>
      <div class="clearfix"></div>
    </mat-tab>-->
  </form>
</div>
