@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$primary-palette: map.get($color-config, 'primary');

.example-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  background: rgb(138,132,239);
  background: linear-gradient(49deg, rgba(138,132,239,1) 10%, rgba(0,129,143,1) 84%);
}

.activeLink {
  background-color: mat.get-color-from-palette($primary-palette, darker);
}

.mat-toolbar {
  position: relative;
  z-index: 2;
}
