    <div #board class="board" cdkDropListGroup>
      <mat-grid-list #grid [cols]="cols" gutterSize="0" >
        <mat-grid-tile *ngFor="let cell of cells; let i = index">
          <div
            class="cell"
            cdkDropList
            [id]="nameOfIdList + i"
            [cdkDropListData]="cell"
            [cdkDropListConnectedTo]="valueListConnectedTo"
            (cdkDropListDropped)="drop($event)"
            [class.selected]="i == indexOver"
            (mouseover)="indexOver = i"
            (mouseout)="indexOver = -1"
          >
            <div cdkDrag>
              <img *ngIf="cell.type.src" [src]="cell.type.src"/>
              <span *ngIf="!cell.type.src"></span>
              <div *cdkDragPlaceholder></div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
