.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 64px - 72px);
}

.content {
    width: 200px;
    height: 100px;
    background: rgb(238, 174, 202);
    background: linear-gradient(
      40deg,
      rgba(238, 174, 202, 1) 15%,
      rgba(148, 187, 233, 1) 100%
    );
    border-radius: 5px;
}