<mat-horizontal-stepper
  #stepper
  linear
  (selectionChange)="selectionChange($event)"
  [selectedIndex]="selectedId"
>
  <mat-step label="Настройка">
    <div class="container">
      <div class="content"><app-simulation-setup></app-simulation-setup></div>
    </div>
  </mat-step>
  <mat-step label="Симуляция" completed="true">
    <div class="container">
      <div class="app-park-simulationWrapper">
        <app-simulation-process-view></app-simulation-process-view>
      </div>
      <div class="app-park-infoWrapper" color="primary">
        <div>Мест для авто: <b>{{simulationService.simulationMap.parkingMeter.getCountAllFree()}} /{{simulationService.simulationMap.parkingMeter.getCountAll()}}</b></div>
        <div>Мест для легковых авто: <b>{{simulationService.simulationMap.parkingMeter.getCountAllFreeCars()}} /{{simulationService.simulationMap.parkingMeter.getCountAllCars()}} </b></div>
        <div>Мест для грузовых авто: <b>{{simulationService.simulationMap.parkingMeter.getCountAllFreeTrucks()}} /{{simulationService.simulationMap.parkingMeter.getCountAllTrucks()}}</b></div>
        <div>Текущее время: <b>VALUE</b></div>
      </div>
      <div class="app-park-tableWrapper">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> № </th>
            <td mat-cell *matCellDef="let element"> {{element.position}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="timeIn">
            <th mat-header-cell *matHeaderCellDef> Время въезда </th>
            <td mat-cell *matCellDef="let element"> {{element.timeIn}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="timeOut">
            <th mat-header-cell *matHeaderCellDef> Время выезда </th>
            <td mat-cell *matCellDef="let element"> {{element.timeOut}} </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="cost">
            <th mat-header-cell *matHeaderCellDef> Стоимость </th>
            <td mat-cell *matCellDef="let element"> {{element.cost}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="buttonsPlayersWrapper buttonsWrapper ">
        <button  mat-mini-fab (click)="stopSimulation()" [disabled]="!simulationService.simulationEngine.isRun">
          <mat-icon>stop</mat-icon>
        </button>
        <button class="playerButton" mat-mini-fab (click)="startSimulation()">
          <mat-icon *ngIf="!simulationService.simulationEngine.isPlay">play_arrow</mat-icon>
          <mat-icon *ngIf="simulationService.simulationEngine.isPlay">pause</mat-icon>
        </button>
      </div>
      <div class="buttonsWrapper" *ngIf="true">
        <button class="btnZoomOut" mat-button (click)="simulationProcessComponent.zoomOut()">
          <mat-icon>zoom_out</mat-icon>
        </button>
        <button class="btnZoomFree" mat-button (click)="simulationProcessComponent.zoomFree()">
          <mat-icon>crop_free</mat-icon>
        </button>
        <button class="btnZoomIn" mat-button (click)="simulationProcessComponent.zoomIn()">
          <mat-icon>zoom_in</mat-icon>
        </button>
      </div>
    </div>
  </mat-step>
</mat-horizontal-stepper>
