<div class="container">
  <div class="content">
    <mat-grid-list cols="7" rowHeight="fit">
      <mat-grid-tile rowspan="2" colspan="3">
        <button
          mat-raised-button
          color="accent"
          (click)="onClickFileInputButton()"
        >
          Загрузить топологию
        </button>
      </mat-grid-tile>

      <mat-grid-tile rowspan="2" colspan="4">
        <mat-divider vertical> </mat-divider>
        <div class="userBlock">
          <div class="header">Менеджер</div>
          <div class="userBlockContent">
            ФИО: <b>Иванов Иван Иванович</b> <br />
            ЛОГИН: <b>solniwko_ivan</b><br />
          </div>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

<input type="file" style="display: none" #fileInput accept=".PSF" (change)="onChangeFileInput()" />
 