<mat-toolbar mat-toolbar color="primary" class="mat-elevation-z10">
  <button mat-button (click)="routeToHome()">Парковочная система</button>
  <span class="example-spacer"></span>
  <button mat-button (click)="openDialogReference()">
    Справка <mat-icon>help_outline</mat-icon>
  </button>
  <!-- <button *ngIf="adminBtn" mat-button routerLink="/administrator" routerLinkActive="activeLink">
    Администратор
  </button>
  <button *ngIf="managerBtn" mat-button routerLink="/manager" routerLinkActive="activeLink" >
    Менеджер
  </button> -->
  <button mat-button (click)="authInOut()" routerLinkActive="activeLink">
    {{this.authService.isLoggedIn?"Выйти":"Войти"}} <mat-icon>input</mat-icon>
  </button>
</mat-toolbar>
