<div class="content">
  <p *ngIf=" data === 'delete'">Вы действительно хотите удалить менеджера?</p>
  <form *ngIf=" data !== 'delete'" [formGroup]="settingsUserForm">
    <mat-form-field appearance="fill">
      <mat-label>ФИО</mat-label>
      <input
        matInput
        placeholder="Введите ваш ФИО"
        formControlName="fio"
        name="fio"
      />
      <button mat-icon-button matPrefix disabled>
        <mat-icon>person</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Логин</mat-label>
      <input
        matInput
        placeholder="Введите ваш логин"
        formControlName="login"
        name="login"
      />
      <button mat-icon-button matPrefix disabled>
        <mat-icon>person</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Пароль</mat-label>
      <input
        matInput
        placeholder="Введите ваш пароль"
        formControlName="password"
        name="password"
      />
      <button mat-icon-button matPrefix disabled>
        <mat-icon>vpn_key</mat-icon>
      </button>
    </mat-form-field>
    <div class="clearfix"></div>
  </form>
</div>

<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false">Отмена</button>
  <button [disabled]="settingsUserForm.invalid || istoMinMax()" *ngIf=" data == 'add'" mat-raised-button color="accent" [mat-dialog-close]=true cdkFocusInitial>
    Зарегистрировать
  </button>
  <button [disabled]="settingsUserForm.invalid || istoMinMax()" *ngIf=" data === 'edit'" mat-raised-button color="accent" [mat-dialog-close]=true cdkFocusInitial>
    Редактировать
  </button>
  <button *ngIf=" data === 'delete'" mat-raised-button color="warn" [mat-dialog-close]=true cdkFocusInitial>
    Удалить
  </button>
</mat-dialog-actions>
