<div #board class="board">
  <mat-grid-list
    #grid
    [cols]="parkingMap.cols"
    gutterSize="0"
    [style.width]="parkingMap.cols * sizeCell + 'px'"
    [style.height]="parkingMap.rows * sizeCell + 'px'"
    [style.margin-top]="marginTop + 'px'"
    [style.margin-left]="marginLeft + 'px'"
    cdkScrollable
  >
    <mat-grid-tile *ngFor="let cell of cells; let i = index" cdkScrollable>
      <div
        class="cell-wrapper"
        [style]="'width: ' + sizeCell + 'px; height: ' + sizeCell + 'px;'"
      >
        <div
          class="cell"
          [id]="nameOfIdList + i"
          [class.roadCell]="isRoad(cell)"
          [class.selected]="designerService.selectedCells.includes(i)"
          cdkScrollable
          [style]="
            'z-index: ' +
            (designerService.isDragging
              ? 1 + cells.length + i
              : 1 + cells.length - i) +
            '; transform: rotate(' +
            (isRoad(cell) ? cell.angle : 0) +
            'deg);'
          "
          [class.borderCell]="isOneBoardCell(cell)"
        >
          <div
            class="cdkDragWrapper"
            [class.borderCell]="isMoreBoardCell(cell)"
            [style]="
              'width: ' +
              cell.template.cols * sizeCell +
              'px; height: ' +
              cell.template.rows * sizeCell +
              'px;'
            "
          >
            <div
              class="cdk-drag"
              [style]="
                'width: ' +
                cell.template.cols * sizeCell +
                'px; height: ' +
                cell.template.rows * sizeCell +
                'px;'
              "
            >
              <img
                *ngIf="cell.template.src"
                [src]="cell.template.src"
                [style]="
                  'width: ' +
                  cell.template.cols * sizeCell +
                  'px; height: ' +
                  cell.template.rows * sizeCell +
                  'px;' +
                  'transform: rotate(' +
                  cell.angle +
                  'deg);'
                "
              />
            </div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>