<div class="container">
  <form class="content" [formGroup]="setupSimulationForm">
    <div class="box">
      <label class="boxLabel">Время начала моделирования</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input
          matInput
          [format]="24"
          name="selected_time_A"
          formControlName="startTime"
          [ngxMatTimepicker]="pickerA"
          readonly
        />
      </mat-form-field>
      <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

      <label class="boxLabel">Цена за час дневного тарифа</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #rows min="5" max="100" thumbLabel formControlName="dayCost"> </mat-slider>
      <label class="boxLabel">Цена за час ночного тарифа</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #cols min="5" max="100" thumbLabel formControlName="nightCost"> </mat-slider>
    </div>
    <mat-divider></mat-divider>
    <div class="box">
      <label class="boxLabel">Процент грузовых автомобилей</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #cols min="5" max="100" thumbLabel formControlName="truckChance"> </mat-slider>
      <label class="boxLabel">Настройка вероятности заезда</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #cols min="5" max="100" thumbLabel formControlName="enterChance"> </mat-slider>
    </div>

    <mat-divider></mat-divider>
    <div class="box">
      <label class="boxLabel">Настройка потока</label>
      <div class="box box_distributions">
        <button
          class="list_distributions"
          mat-stroked-button
          [matMenuTriggerFor]="distributionsTypesMenu"
          (click)="this.selectedDistributionControl = 'traficDistribution'"
        >
        {{getNameDistribution('traficDistribution')}}<mat-icon style="float: right; margin-top: 5px"
            >expand_more</mat-icon
          >
        </button>
        <button class="setting_distribution" mat-icon-button (click)="setupDistribution('traficDistribution')">
          <mat-icon>settings</mat-icon>
        </button>
      </div>

      <label class="boxLabel">Настройка времени стоянки</label>
      <div class="box box_distributions">
        <button
          class="list_distributions"
          mat-stroked-button
          [matMenuTriggerFor]="distributionsTypesMenu"
          (click)="this.selectedDistributionControl = 'parkingDistribution'"
        >
          {{getNameDistribution('parkingDistribution')}}<mat-icon style="float: right; margin-top: 5px"
            >expand_more</mat-icon
          >
        </button>
        <button class="setting_distribution" mat-icon-button (click)="setupDistribution('parkingDistribution')">
          <mat-icon>settings</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

<mat-menu #distributionsTypesMenu="matMenu">
  <button mat-menu-item (click)="setSelectedDistribution(distributionTypes.DETERMINATE)">Детериминированое</button>
  <button mat-menu-item [matMenuTriggerFor]="distributionsRandom">
    Случайное
  </button>
</mat-menu>

<mat-menu #distributionsRandom="matMenu">
  <button mat-menu-item (click)="setSelectedDistribution(distributionTypes.UNIFORM)">Равномерное</button>
  <button mat-menu-item (click)="setSelectedDistribution(distributionTypes.NORMAL)">Нормальное</button>
  <button mat-menu-item (click)="setSelectedDistribution(distributionTypes.EXPONETIAL)">Экспонециальное</button>
</mat-menu>
