<div class="container">
  <form class="content" [formGroup]="setupSimulationForm">
    <div class="box">
      <label class="boxLabel">Время начала моделирования</label>
      <mat-form-field appearance="outline" floatLabel="never">
        <input
          matInput
          name="selected_time_A"
          formControlName="selectedTime"
          [ngxMatTimepicker]="pickerA"
          placeholder="4:00 PM"
          readonly
        />
      </mat-form-field>
      <ngx-mat-timepicker #pickerA></ngx-mat-timepicker>

      <label class="boxLabel">Цена за час дневного тарифа</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #rows min="5" max="100" thumbLabel> </mat-slider>
      <label class="boxLabel">Цена за час ночного тарифа</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #cols min="5" max="100" thumbLabel> </mat-slider>
      <label class="boxLabel">Процент грузовых автомобилей</label>
      <label class="sliderBoxLabelValue"></label>
      <mat-slider #cols min="5" max="100" thumbLabel> </mat-slider>
    </div>

    <mat-divider></mat-divider>
    <div class="box">
      <label class="boxLabel">Настройка потока</label>
      <mat-form-field appearance="fill">
        <mat-label>Pokemon</mat-label>
        <mat-select [formControl]="pokemonControl">
          <mat-option>-- None --</mat-option>
          <mat-optgroup *ngFor="let group of pokemonGroups" [label]="group.name"
                        [disabled]="group.disabled">
            <mat-option *ngFor="let pokemon of group.pokemon" [value]="pokemon.value">
              {{pokemon.viewValue}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
    </div>
  </form>
</div>
