@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$primary-palette: map.get($color-config, 'primary');
$accent-palette: map.get($color-config, 'accent');


.container{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
}
.content{
    display: block;
    background-color:  mat.get-color-from-palette($primary-palette,lighter);
    padding: 20px;
    border-radius: 10px;
}

mat-form-field {
    display: block;
}

.content > button {
    margin-right: 10px;
    margin-left: auto;
    background-color: mat.get-color-from-palette($accent-palette,default);
    float: right;
}
.clearfix {
    overflow: auto;
}

mat-checkbox{
    padding-top: 5px;
}