@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$primary-palette: map.get($color-config, 'primary');

.mat-tab-group{
  // max-height: calc(100vh - 64px);
}
.content {
  max-height: calc(100vh - 64px - 50px);
}

.container {
  box-sizing: border-box;
  display:flex;
  justify-content: space-around;
  padding: 10px;
  min-height: calc(100vh - 64px - 50px);
  min-height: calc(100vh - 64px - 50px);
}

.app-park-designerWrapper{
  flex-basis: 70%;
  background-color: mat.get-color-from-palette($primary-palette,lighter);
  max-height: calc(100vh - 64px - 50px - 20px);
}

.app-park-objectsWrapper {
  flex-basis: 25%;
  background-color: mat.get-color-from-palette($primary-palette,lighter);
  border-radius: 10px 0 0 10px;
  max-height: calc(100vh - 64px - 50px - 20px);
}