@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$primary-palette: map.get($color-config, 'primary');

.mat-tab-group{
  max-height: calc(100vh - 64px);
}
.content {
  height: calc(100vh - 64px - 50px);
}

.mat-grid-listWrapper{
   margin-left: auto;
   margin-right: auto;
   margin-top:10px;
   max-width: 92%;
}

mat-grid-tile {
  background-color: mat.get-color-from-palette($primary-palette,lighter);
  border-radius: 5px;
}
.app-park-designerWrapper{
  border:1px solid teal;
  min-width:90%;
}

.app-park-objectsWrapper {
  min-width:100%;
  min-height:100%;
}