.container {
  margin: 20px;
  background: red;
}
.container2 {
  border:1px solid red;
   min-width:80%;
}

.container3 {
  border:1px solid red; 
  min-width:100%;
  min-height:80%;
}
mat-grid-tile {
  background: blue;
}

.grid-container {
  display: flex;
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px;
  font-size: 30px;
}


