<mat-tab-group>
  <mat-tab label="Настройка"
    ><div class="container"><div class="content"></div></div>
  </mat-tab>
  <mat-tab label="Заполнение">
    <div class="container">
      <div class="app-park-objectsWrapper">
        <app-park-objects></app-park-objects>
      </div>
      <div class="app-park-designerWrapper">
        <app-park-designer></app-park-designer>
      </div>
    </div>
  </mat-tab>
  <mat-tab label="Подтверждение"> <div class="content"></div></mat-tab>
</mat-tab-group>
