img{
  object-fit: contain;
  object-position: center;
  width:100%; height:100%;
}

.container {
  padding: 10px;
}
.mat-accordion{
 width: 90vh; 
}

.sideWrapper
{
  display:flex;
  justify-content: space-between;
  position:relative;
}

.side{
  flex-basis:100%; /*it's flex-basis of board/5 */
}

.cell{
  width:calc(100% - 1px); /*we calcule 100% -the "gap" of the mat-grid-list*/
  height:calc(100% - 1px)
}

.cell >div {
  width: 100%;
  height: 100%;
}
