.content
{
  display:flex;
  justify-content: space-between;
  position:relative;
}

.side{
  flex-basis:100%; /*it's flex-basis of board/5 */
}

.cell{
  width:calc(100% - 1px); /*we calcule 100% -the "gap" of the mat-grid-list*/
  height:calc(100% - 1px)
}
