$dark-primary-text: rgba(black, 0.87);
$light-primary-text: white;

$accent-palette: (
    50 : #f4e9e5,
    100 : #e3c8bf,
    200 : #d1a495,
    300 : #be7f6a,
    400 : #b0634a,
    500 : #a2482a,
    600 : #9a4125,
    700 : #90381f,
    800 : #863019,
    900 : #75210f,
    A100 : #ffb5a8,
    A200 : #ff8975,
    A400 : #ff5e42,
    A700 : #ff4829,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);

$primary-palette: (
    50 : #e0f0f2,
    100 : #b3d9dd,
    200 : #80c0c7,
    300 : #4da7b1,
    400 : #2694a0,
    500 : #00818f,
    600 : #007987,
    700 : #006e7c,
    800 : #006472,
    900 : #005160,
    A100 : #90eaff,
    A200 : #5de1ff,
    A400 : #2ad7ff,
    A700 : #11d2ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);