<div #board class="board">
  <mat-grid-list
    #grid
    [cols]="parkingMap.cols"
    gutterSize="0"
    [style.width]="parkingMap.cols * sizeCell + 'px'"
    [style.height]="parkingMap.rows * sizeCell + 'px'"
    [style.margin-top]="marginTop + 'px'"
    [style.margin-left]="marginLeft + 'px'"
  >
    <mat-grid-tile
      *ngFor="let cell of cells; let i = index;"
    >
      <div
        class="cell"
        cdkDropList
        [id]="nameOfIdList + i"
        [cdkDropListData]="cell"
        [cdkDropListConnectedTo]="valueListConnectedTo"
        (cdkDropListDropped)="drop($event)"
        [class.selected]="i == indexOver"
        (mouseover)="indexOver = i"
        (mouseout)="indexOver = -1"
        [class.roadCell] = "isRoad(cell)"
      >
        <div cdkDrag style="width: max-content; height: max-content;">
          <img *ngIf="cell.type.src" [src]="cell.type.src"  [width]="cell.type.cols*sizeCell" [height]="cell.type.rows*sizeCell"/>
          <!-- <span *ngIf="!cell.type.src">OPS</span> -->
          <div *cdkDragPlaceholder></div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
