@use 'sass:map';
@use '@angular/material' as mat;
@import '/src/variables.scss';

$color-config:    mat.get-color-config($defaultTheme);
$accent-palette: map.get($color-config, 'accent');
$warn-palette: map.get($color-config, 'warn');

img{
  object-fit: contain;
  object-position: center ;
  width:100%; height:100%;
}


.board{
  position: relative;
  overflow: auto;
  min-height: calc(100vh - 64px - 72px - 32px);
  max-height: calc(100vh - 64px - 72px - 32px);
  width: 100%;
}

.mat-grid-list{
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  // transform: scale(0.5,0.5);
  // transform-origin: 0 0;

}
.cdk-drag{
  width: 100%;
  height: 100%;
}
.cell{
  width: 100%;
  height: 100%;
  // background-color: mat.get-color-from-palette($accent-palette,lighter);
  background-image: url("/assets/rock.png");
  background-size: contain;
}

.selected {
  background-color: mat.get-color-from-palette($warn-palette,default);
  background-image: unset;

}

