@use "sass:map";
@use "@angular/material" as mat;
@import "/src/variables.scss";

$color-config: mat.get-color-config($defaultTheme);
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

$board-color: #ededed;

img {
  object-fit: contain;
  object-position: center;
  // height: 100%;
  // width: 100%;
}

.board {
  overflow: scroll;
  height: calc(100vh - 64px - 72px - 32px);
  width: 100%;

  border: 2px solid $board-color;
  opacity: 1;
  background-image: linear-gradient($board-color 3.2px, transparent 3.2px),
    linear-gradient(90deg, $board-color 3.2px, transparent 3.2px),
    linear-gradient($board-color 1.6px, transparent 1.6px),
    linear-gradient(90deg, $board-color 1.6px, #ffffff 1.6px);
  background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
  background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px,
    -1.6px -1.6px;
}

::-webkit-scrollbar-corner,
*:not(.geScrollable)::-webkit-scrollbar {
  background-color: $board-color;
}

mat-grid-list {
  padding: 0 !important;
  background-image: url(/assets/ground_asphalt.png);
  background-size: 20%;
  overflow: visible;
}

mat-grid-tile {
  overflow: visible;
}

.cdk-drag {
  width: 100%;
  height: 100%;
  position: relative;
}
.cell {
  // width: max-content; height: max-content;
   width: 100%;
   height: 100%;overflow: visible;
   position: relative;
  // background-color: mat.get-color-from-palette($accent-palette,lighter);
  // background-image: url("/assets/rock.png");
  // background-size: contain;
}

.roadCell {
  background-image: url(/assets/road.png);
  background-size: 100%;
}

.menu {
  display: inline-flex;
  flex-direction: column;
  padding: 5px 0px;
  min-width: 100px;
  max-width: 180px;
  background-color: rgb(255, 255, 255);

  border-radius: 5px;
  background: hsla(0, 0%, 100%, 0.333);
  backdrop-filter: blur(5px);
}

.menu-item {
  background-color: transparent;
  cursor: pointer;
  border: none;

  user-select: none;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px 0px 16px 0;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex: 1;
  font-weight: 500;
  mat-icon {
    margin-inline-end: 10px;
  }
}
.delete {
  background-color: rgba(255, 0, 0, 0.698);
}

.cdk-drag-preview {
  opacity: 70%;
}

.selected {
  background-color: #ff1e1ebc;
  // background-image: unset;
  // opacity: 70%;
  mix-blend-mode: lighten;
  // z-index: 999999;
}

.menu-item:hover {
  background-color: rgb(208, 208, 208);
}

.menu-item:active {
  background-color: rgb(170, 170, 170);
}
