@use "sass:map";
@use "@angular/material" as mat;
@import "/src/variables.scss";

$color-config: mat.get-color-config($defaultTheme);
$accent-palette: map.get($color-config, "accent");
$warn-palette: map.get($color-config, "warn");

$board-color: #EDEDED;

img {
  object-fit: contain;
  object-position: center;
  width: 100%;
  height: 100%;
}

.board {
  overflow: scroll;
  height: calc(100vh - 64px - 72px - 32px);
  width: 100%;

  border: 2px solid $board-color;
  opacity: 1;
  background-image: linear-gradient($board-color 3.2px, transparent 3.2px),
    linear-gradient(90deg, $board-color 3.2px, transparent 3.2px),
    linear-gradient($board-color 1.6px, transparent 1.6px),
    linear-gradient(90deg, $board-color 1.6px, #ffffff 1.6px);
  background-size: 80px 80px, 80px 80px, 16px 16px, 16px 16px;
  background-position: -3.2px -3.2px, -3.2px -3.2px, -1.6px -1.6px,
    -1.6px -1.6px;

}

::-webkit-scrollbar-corner,*:not(.geScrollable)::-webkit-scrollbar{
  background-color: $board-color;
}

mat-grid-list {
  padding: 0 !important;
  background-image: url(/assets/ground_asphalt.png);
  background-size: 20%;
}

.cdk-drag {
  width: 100%;
  height: 100%;
}
.cell {
  width: 100%;
  height: 100%;
  // background-color: mat.get-color-from-palette($accent-palette,lighter);
  // background-image: url("/assets/rock.png");
  // background-size: contain;
}

.selected {
  background-color: mat.get-color-from-palette($warn-palette, default);
  background-image: unset;
}


.roadCell{
  background-image: url(/assets/road.png);
  background-size: 100%;
}