<cdk-virtual-scroll-viewport itemSize="50">
  <div class="container">
    <div class="sideWrapper">
      <div class="side">
        <mat-grid-list cols="4" gutterSize="0" [class.mat-elevation-z2]>
          <mat-grid-tile *ngFor="let template of types.getParkingTemplates()"      [colspan]="template.cols"
          [rowspan]="template.rows">
            <div
              class="cell"
              cdkDropList
              [id]="nameOfIdList"
              [cdkDropListData]="template"
              [cdkDropListConnectedTo]="valueListConnectedTo"
              (cdkDropListDropped)="drop($event)"
            >
              <div cdkDrag>
                <img [src]="template.src" />
                <div *cdkDragPlaceholder></div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
